html, body {
    margin:0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  
}

html {
    box-sizing: border-box;
}

/* HEADER */
.titulo{
    font-family: 'Rock Salt', cursive;
}
#nav{
    position:sticky;
}
 #nav ul {
    margin-left: 260px;
 }
.nav-item{
    padding-left: 150px;
    color:#504C5B ;
    font-size: 20px;
}
.banner{
    background-image: url("img/fondo.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height:600px;
    left: 0;
    text-align: center;
    top: 0;
    width: 100%;
   
}
.prest{
    padding: 200px 0px 150px 0px; 
}
.prest h1{
    font-family: 'Rock Salt', cursive;
    font-weight: bold;
    font-size: 80px;   
}
.prest h3 {
    font-family: 'Shadows Into Light', cursive;
    font-size: 35px;
    padding-top: 10px;
}

@media screen and (max-device-width : 768px) {
    .banner{
        height: 300px;
    }
    .prest{
        padding: 100px 0px 150px 0px; 
    }
    .prest h1{
        font-size: 30px;   
    }
    .prest h3 {
        font-size: 17px;
    }
}


/* Main */
#main{
    background-color: whitesmoke;
}
#main > section {
    border-top: solid 10px #efefef;
    margin: 0em 0 0 0;
    padding: 4em 4em 0 2em;
}

    #main > section:first-child {
        border-top: 0;
        margin-top: 0;
        padding-top: 0;
    }

    @media screen and (max-device-width : 768px) { 
        #main > section {
            border-top: solid 8px #efefef;
            padding: 4em 2em 0 2em;
        }
    }
/* One */
    #one h2 {
        padding: 60px 0px 30px 0px;
        color: #381944;
        font-family: 'Shadows Into Light', cursive;
        font-weight: bold;
        font-size: 60px;
    }
    #one p {
        text-align: justify;
        line-height: 2em;
        color: #655566;
        font-size: 30px;
    }
    .foto{
        width: 600px;
        height: 500px;
        border-radius: 30px;
        margin: 20px 400px 20px 600px ;
    }
    .foto:hover {filter: opacity(.5);}

 @media screen and (max-device-width : 768px) { 
    #one h2 {
        font-size: 30px;
    }
    #one p {
        font-size: 15px;
    }
    .foto{
        width: 100px;
        height: 100px;
        margin: 0px 0px 10px 90px ;
    }
 }
/* Two */
#two h2{
    color: #381944;
    font-family: 'Shadows Into Light', cursive;
    font-weight: bold;
    font-size: 60px;
    padding-bottom: 30px;
}

#two p {
    text-align: justify;
    line-height: 1.5em;
    color: #655566;
    font-size: 30px;
}

#two .card-title{
    font-size: 25px;
    color: #381944;
    font-weight: bold;
}
#two .img{
    width: 200px;
}

    .card1{
       margin-left: 400px;}

    .card2{
       margin-left: 600px;
       padding-top: 60px;}
    
    .card3{
       margin-left: 800px;
       padding: 60px 0px 60px 0px;}

@media screen and (max-device-width : 768px) { 
    #two h2{
        font-size: 30px;
    }
    
    #two p {
        font-size: 15px;
    }
    
    #two .card-title{
        font-size: 12px;
        
    }
    #two .img{
        width: 80px;
    }
    
        .card1{
           margin-left: 20px;}
    
        .card2{
           margin-left: 20px;}
        
        .card3{
           margin-left: 20px;}
}
/* Three */
#three h2{
    color: #381944;
    font-family: 'Shadows Into Light', cursive;
    font-weight: bold;
    font-size: 60px;
}

#three h3{
    color: #381944;
    font-weight: bold;
    font-size: 30px;
}

#three h4{
    color: #381944;
    font-size: 30px;
}
#three p {
    text-align: justify;
    color: #655566;
    font-size: 20px;
}

#three .exp{
    padding: 40px 0px 40px 300px;
}

.ing {
    padding-bottom: 40px;
}

@media screen and (max-device-width : 768px) { 
    #three h2{
        font-size: 30px;
    }
    
    #three h3{
        font-size: 15px;
    }
    
    #three h4{
        font-size: 15px;
    }

    #three p {
        font-size: 10px;
    }

    #three .exp{
        padding: 40px 10px 40px 20px;
    }
}


/* Four */

#four h2{
    color: #381944;
    font-family: 'Shadows Into Light', cursive;
    font-weight: bold;
    font-size: 60px;
}

#four h3{
    color: #381944;
    font-family: 'Shadows Into Light', cursive;
    font-weight: bold;
    font-size: 40px;
    padding: 20px 0px 20px 40px;
}
#four h4{
    color: #381944;
    font-weight: bold;
    font-size: 30px;
    padding: 20px 0px 0px 20px;
}
#four p {
    text-align: justify;
    color: #655566;
    font-size: 20px;
    padding: 10px 200px 20px 20px;
}
#four .row {
    margin-left: 200px;
}
.work-item .image {
    width: 600px;
    height: 380px;
    border: #381944 solid 5px;
}
.image:hover {filter: opacity(.5);}

.boton1{
    margin-bottom: 40px;
}

#four .proj {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   }

#four .card {
    height: 410px;
    width: 600px;
    margin: 0px 20px 20px 50px;
   }

#four .card-text{
    color:#381944;
    padding: 10px 15px 0px 15px;
    text-decoration: none;
    
}

.imcard {width:100%;
    height:300px}

.imcard:hover {filter: opacity(.5);}

@media screen and (max-device-width : 768px) { 
    #four .row {
        margin: 0px;

    }

    .work-item .image {
        width: 120px;
        height: 100px;
        border: #381944 solid 5px;
    }
    #four h2{
        font-size: 30px;
    }
    
    #four h3{
        font-size: 20px;
        padding-left: 10px;
    }
    #four h4{
        font-size: 15px;
        padding-left: 5px;
        
    }
    #four p {
        font-size: 10px;
        padding-left: 5px;
        padding: 10px 2px 20px 5px;
    }

    #four .card {
        height: 170px;
        width: 200px;
        margin: 0px 5px 20px 5px;}
    
    .imcard {
        width:100%;
        height:100px}
    
    .proj {
        padding: 0px 0px 20px 20px;
        justify-content: center;
    }
    
    .boton {
        margin-left: 0px;
        size: 20px;
    }

    #four .card-text{
        font-size: 8px;
    }
    .boton1{
        margin-left: 60px;
    }

}

/* Five */

#five h2{
    color: #381944;
    font-family: 'Shadows Into Light', cursive;
    font-weight: bold;
    font-size: 60px;
}

#five p {
    text-align: justify;
    color: #541058;
    font-size: 20px;
    padding: 10px 0px 20px 20px;
}

.center {
    padding: 50px 100px 50px 100px;
    border:#c1bac2 10px solid;
    margin-bottom: 30px;
}

@media screen and (max-device-width : 768px) { 
    #five h2{
        font-size: 30px;
    }
    
    #five p {
        font-size: 15px;
        padding: 10px 0px 20px 5px;
    }
    .boton2{
        margin-left: 60px;
    }

}

/* Six */
#six h2{
    color: #381944;
    font-family: 'Shadows Into Light', cursive;
    font-weight: bold;
    font-size: 60px;
    padding-bottom: 20px;
}


:root {
    --linkedin:#541058;
    --github:#541058;
    --instagram:#541058;
}

.redes-container{
    display: flex;
    height: 100%;
    align-items:flex-start;
    justify-content:left;
    margin-bottom: 20px;
}

.redes-container ul li{
    display: inline-block;
    margin: 0 5px;
    width: 80px;
    height: 80px;
    text-align: center;
}

.redes-container ul li a{
    display: block;
    padding: 0 10px;
    background-color: #333;
    color: white;
    line-height: 50px;
    font-size: 30px;
    box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 2);
    transition: .2s;
}

.redes-container ul:hover a{
    filter:blur(2px);
}

.redes-container ul li a:hover{
    transform: translate(-3px) scale(1.05);
    box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 4);
    filter: none;
}

.redes-container ul li .linkedin:hover{
    background-color: var(--linkedin);
}

.redes-container ul li .instagram:hover{
    background-color: var(--instagram);
}

.redes-container ul li .github:hover{
    background-color: var(--github);
}

@media screen and (max-device-width : 768px) { 
    #six h2{
        font-size: 30px;
    }
    
   

}



/* Footer */
footer{
border-top: solid 8px #efefef;
padding: 2em 2em 4em 2em;
}